# Node.js dependencies
node_modules/

# Build output
dist/
build/
www/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
npm-debug.log*
yarn-debug.log*
coverage/

# Webpack cache
.cache/

# Yarn
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Package manager directories
.pnpm-store/

# Mac specific
.AppleDouble
.LSOverride

# Windows image file caches
ehthumbs.db
Desktop.ini
